// @import '../vendor/nevish/less/palette';

// See https://github.com/nevir/nevish

//                                      RGB     // L   A   B   // Hue
// Monochrome Shades                   ---------//-------------//-----------
@nevish-palette-background-dark2:      #2e2020; // 14  6.5 2.5 // 0
@nevish-palette-background-dark1:      #372929; // 18  6.5 2.5 // 0
@nevish-palette-background:            #403131; // 22  6.5 2.5 // 0
@nevish-palette-background-light1:     #493a3a; // 26  6.5 2.5 // 0
@nevish-palette-background-light2:     #524343; // 30  6.5 2.5 // 0
@nevish-palette-neutral:               #847373; // 50  6.5 2.5 // 0
@nevish-palette-foreground-dark2:      #b9a7a7; // 70  6.5 2.5 // 0
@nevish-palette-foreground-dark1:      #c4b2b2; // 74  6.5 2.5 // 0
@nevish-palette-foreground:            #cfbdbc; // 78  6.5 2.5 // 3
@nevish-palette-foreground-light1:     #dac8c7; // 82  6.5 2.5 // 3
@nevish-palette-foreground-light2:     #e6d3d3; // 86  6.5 2.5 // 0
// Color Wheel (Foreground)            ---------//-------------//-----------
@nevish-palette-foreground-primary:    #ebb789; // 78  13  31  // 28
@nevish-palette-foreground-complement: #94c6f3; // 78 -5  -27  // 208 (+180)
@nevish-palette-foreground-triad1:     #70d2b7; // 78 -35  4   // 163 (+135)
@nevish-palette-foreground-triad2:     #c7b7ff; // 78  20 -33  // 253 (-135)
@nevish-palette-foreground-split1:     #a8cd6d; // 78 -28  44  // 83  (+55)
@nevish-palette-foreground-split2:     #ffa6ce; // 78  38 -7   // 333 (-55)
// Color Wheel (Neutral)               ---------//-------------//-----------
@nevish-palette-neutral-primary:       #9c6d44; // 50  14  30  // 28
@nevish-palette-neutral-complement:    #4a7ba8; // 50 -3  -29  // 209 (+181)
@nevish-palette-neutral-triad1:        #198769; // 50 -37  8   // 164 (+136)
@nevish-palette-neutral-triad2:        #7c6daf; // 50  21 -33  // 254 (-134)
@nevish-palette-neutral-split1:        #5f8226; // 50 -27  44  // 83  (+55)
@nevish-palette-neutral-split2:        #af5c81; // 50  38 -5   // 333 (-55)
// Color Wheel (Background)            ---------//-------------//-----------
@nevish-palette-background-primary:    #532a06; // 22  16  29  // 28
@nevish-palette-background-complement: #053660; // 22  2  -29  // 208 (+180)
@nevish-palette-background-triad1:     #003d2c; // 22 -23  5   // 163 (+135)
@nevish-palette-background-triad2:     #382b66; // 22  22 -33  // 253 (-135)
@nevish-palette-background-split1:     #243b00; // 22 -19  30  // 83  (+55)
@nevish-palette-background-split2:     #631538; // 22  37 -2   // 333 (-55)
// Semantic (Foreground)               ---------//-------------//-----------
@nevish-palette-foreground-info:       @nevish-palette-foreground-complement;
@nevish-palette-foreground-success:    #68d4b0; // 78 -40  8   // 160
@nevish-palette-foreground-warning:    #ffb062; // 78  21  51  // 30
@nevish-palette-foreground-error:      #ffaaaa; // 78  31  13  // 0
// Semantic (Neutral)                  ---------//-------------//-----------
@nevish-palette-neutral-info:          @nevish-palette-neutral-complement;
@nevish-palette-neutral-success:       #01885b; // 50 -43  16  // 160
@nevish-palette-neutral-warning:       #b06419; // 50  25  52  // 30
@nevish-palette-neutral-error:         #e03333; // 50  65  42  // 0
// Semantic (Background)               ---------//-------------//-----------
@nevish-palette-background-info:       @nevish-palette-background-complement;
@nevish-palette-background-success:    #003d29; // 22 -24  7   // 160
@nevish-palette-background-warning:    #542a00; // 22  16  32  // 30
@nevish-palette-background-error:      #710000; // 22  44  33  // 0

// Nevish Variables
///////////////////

@font-family-heading: 'News Cycle', 'Lucida Grande', 'Segoe UI', sans-serif;

@base-accent-color:          @nevish-palette-neutral-complement;
@button-text-color-selected: @nevish-palette-foreground-primary;

// Tabs, tree view items, etc.
@item-height:         24px;
@item-indicator-size: 2px;

// Base Atom Variables
//////////////////////

// Text Colors

@text-color:           @nevish-palette-foreground;
// @text-color: foobar(magenta);
@text-color-subtle:    @nevish-palette-foreground-dark2;
@text-color-highlight: @nevish-palette-foreground-light2;
@text-color-selected:  @nevish-palette-foreground-complement;

@text-color-info:    @nevish-palette-foreground-info;
@text-color-success: @nevish-palette-foreground-success;
@text-color-warning: @nevish-palette-foreground-warning;
@text-color-error:   @nevish-palette-foreground-error;

// Background Colors

@background-color-info:    @nevish-palette-neutral-info;
@background-color-success: @nevish-palette-neutral-success;
@background-color-warning: @nevish-palette-neutral-warning;
@background-color-error:   @nevish-palette-neutral-error;

@background-color-highlight: @nevish-palette-background-light2;
@background-color-selected:  @nevish-palette-background;
@app-background-color:       @nevish-palette-background-dark2;

// Base Colors

@base-background-color: @nevish-palette-background;
@base-border-color:     @nevish-palette-background-light2;

// Component Colors

@pane-item-background-color: @nevish-palette-background-dark1;
@pane-item-border-color:     magenta;

@input-background-color: magenta;
@input-border-color:     magenta;

@tool-panel-background-color:    @nevish-palette-background-dark1;
@tool-panel-border-color:        @background-color-highlight;
@inset-panel-background-color:   @nevish-palette-background;
@inset-panel-border-color:       @nevish-palette-background;
@panel-heading-background-color: magenta;
@panel-heading-border-color:     magenta;
@overlay-background-color:       @nevish-palette-background-light1;
@overlay-border-color:           magenta;

@button-background-color:          @nevish-palette-neutral;
@button-background-color-hover:    darken(@nevish-palette-neutral-primary, 10%);
@button-background-color-selected: @nevish-palette-neutral-primary;
@button-border-color:              @nevish-palette-background-light2;
@tab-bar-background-color:         @nevish-palette-background-dark1;
@tab-bar-border-color:             @nevish-palette-background-light2;
@tab-background-color:             @nevish-palette-background-dark1;
@tab-background-color-active:      @nevish-palette-background;
@tab-border-color:                 magenta;

@tree-view-background-color: magenta;
@tree-view-border-color:     magenta;

// Site Colors

@ui-site-color-1: @nevish-palette-foreground-primary;
@ui-site-color-2: @nevish-palette-foreground-complement;
@ui-site-color-3: @nevish-palette-foreground-triad1;
@ui-site-color-4: @nevish-palette-foreground-triad2;
@ui-site-color-5: @nevish-palette-foreground-split1;
@ui-site-color-6: @nevish-palette-foreground-split2;

// Sizes

@disclosure-arrow-size:  12px;
@component-padding:      10px;
@component-icon-padding: 5px;
@component-icon-size:    16px;
@component-line-height:  25px;
@tab-height:             @item-height;
@font-size:              14px;

// Misc

@component-border-radius: 2px;
@font-family:             'Oxygen', 'Lucida Grande', 'Segoe UI', sans-serif;

// "Standard" Variables
///////////////////////
// These align with popular themes (like Atom Dark/Light, etc).

@scrollbar-background-color: transparent;
@scrollbar-background-color: @nevish-palette-background-dark1;
@scrollbar-color:            @nevish-palette-background-light2;
